<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>RRD|User Profile</title>
  <link rel="icon" href="/img/logo.jpeg" type="image/png">
  <link rel="stylesheet" href="/css/user.css">
</head>

<body>

  <div class="bg-white mt-5">

    <div class="container">
      <div class="d-flex justify-content-between align-items-center py-4">
        <div>
          <a href="#" class="d-inline-block text-dark">
            <strong><%=city%> Temp:-<%=temp%></strong>
            <span class="text-muted">Degree Celcius.</span>
          </a>
          <a href="#" class="d-inline-block text-dark ml-3">
                <strong><%=desc%></strong>
            <span class="text-muted"><img src="<%=imageUrl%>" alt=""></span>
          </a>
        </div>
        <div>
          <a href="#" class="btn btn-success btn-sm">
          Products
          </a>

        </div>
      </div>
    </div>
    <hr class="m-0">

    <div class="container">
      <div class="text-center py-5">
        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt class="ui-w-100 rounded-circle">

        <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
          <h4 class="font-weight-bold my-4"><%=name%></h4>

          <div class="text-muted mb-4">
            Lorem ipsum dolor sit amet, nibh suavitate qualisque ut nam. Ad harum primis electram duo, porro principes ei has.
          </div>
          <div class="text-muted mb-4">
            <p>Address:-<%=address1%></p>
            <p><%=address2%></p>
            <p>pin:-<%=zip%></p>
            <p>city:-<%=city%></p>
            <p>state:-<%=state%></p>
            <p>country:-<%=country%></p>
          </div>
        </div>

        <div class="text-center">
          <a href="#" class="btn icon-btn borderless btn-outline-twitter btn-lg btn-round">
            <span class="ion ion-logo-twitter"></span>
          </a>
          <a href="#" class="btn icon-btn borderless btn-outline-facebook btn-lg btn-round">
            <span class="ion ion-logo-facebook"></span>
          </a>
          <a href="#" class="btn icon-btn borderless btn-outline-instagram btn-lg btn-round">
            <span class="ion ion-logo-instagram"></span>
          </a>
        </div>
      </div>
    </div>
    <hr class="m-0">


    <ul class="nav nav-tabs tabs-alt justify-content-center">
      <li class="nav-item">
        <a class="nav-link py-4 active" href="#">&copy-2020 REDRockDuft-Perfumes</a>
      </li>


  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>
